<!DOCTYPE html>
<html>

<head>
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Styles }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/normalize.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>

<body class="{{body_class}}">

    <div id="wrapper">
        <header class="site-header">
            <div class="container clearfix">
                <div class="site-title-wrapper">
                    {{#if @blog.logo}}
                    <a class="site-logo js-ajax-link" title="{{@blog.title}}" href="{{@blog.url}}"><img src="{{@blog.logo}}"
                            alt="{{@blog.title}}" /></a>
                    <small class="site-description">{{@blog.description}}</small>
                    {{else}}
                    <h1 class="site-title"><a class="js-ajax-link" title="{{@blog.title}}" href="{{@blog.url}}">{{@blog.title}}</a></h1>
                    <small class="site-description">{{@blog.description}}</small>
                    {{/if}}
                </div>

                <ul class="site-nav">
                    {{navigation}}

                    {{#if @blog.logo}}
                    <li class="site-nav-item"><a href="{{@blog.url}}/rss">RSS</a></li>
                    {{/if}}
                </ul>
            </div>
        </header>

        <div id="ajax-container">
            {{{body}}}
        </div>
    </div>

    <footer class="footer">
        <p class="footer-copyright">&copy; {{date format="YYYY"}} / Published with <a href="https://ghost.org">Ghost</a></p>
        <p class="footer-credit">Modified version of <a href="https://github.com/roryg/ghostwriter">Ghostwriter
                theme</a> By <a href="http://jollygoodthemes.com">JollyGoodThemes</a></p>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    <script type="text/javascript">
        if (typeof jQuery == 'undefined') {
            document.write('<script type="text/javascript" src="{{asset "js/jquery-1.11.3.min.js"}}"></' + 'script>');
        }
    </script>

    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript">
        jQuery(function ($) {
          $(".post-content").fitVids();
        });
    </script>

</body>

</html>